export(binom.diagnostics, lnorm,  lpois, lpois1, 
	 panel.psyfun, psyfun.boot, thresh.est, polmer
	)

S3method(plot, binom.diag)
importFrom("graphics", "abline", "hist", "lines", "par")
importFrom("stats", "binomial", "coef", "family", "fitted", "formula",
			"glm", "pnorm", "ppois", "predict", "qnorm", "rbinom",
			"residuals")